.HighLight {
  text-align: center;
  color: rgba(221, 221, 216, 0.87);
}
.Side-Details {
  display: grid;
  grid-template-columns: repeat(1, 90px);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: beige;
  text-align: start;
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
}
@media (min-width: 600px) {
  .Side-Details {
    text-align: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 99px);
  }
  .heading {
    font-size: 20px;
  }
  .value {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .Side-Details {
    text-align: center;
    grid-template-columns: repeat(1, 99px);
  }
  .heading {
    text-align: center;
    font-size: 25px;
  }
  .value {
    text-align: center;
    font-size: 23px;
  }
}
.City {
  font-size: 35px;
}
.Temp {
  font-size: 40px;
  font-weight: 640;
}
.heading {
  white-space: nowrap;
}

.value {
  position: relative;
  margin-top: -5px;
  white-space: nowrap;
  color: rgb(155, 247, 155);
}
