.HighLight {
  text-align: center;
}
.Side-Details {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  color: black;
  width: 100%;
  box-shadow: 0 2px 3px #ccc;

  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
}
@media (min-width: 600px) {
  .Side-Details {
    text-align: center;
    grid-template-columns: repeat(6, 99px);
    justify-content: center;
  }
  .heading {
    margin-left: 0;
  }
  .value {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .Side-Details {
    text-align: center;
    grid-template-columns: repeat(10, 99px);
    font-size: larger;
  }
  .heading {
    margin-left: 0px;
    font-size: larger;
  }
  .value {
    margin-left: 0px;
    font-size: 20px;
  }
}
.City {
  font-size: 35px;
}
.Temp {
  font-size: 40px;
  font-weight: 640;
}
.heading {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.value {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: green;
}
