.HighLight {
  text-align: center;
  color: rgba(221, 221, 216, 0.87);
}
.Side-Details {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  color: beige;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  .Side-Details {
    text-align: center;
    grid-template-columns: repeat(6, 99px);
    justify-content: center;
  }
  .heading {
    margin-left: 0;
    font-size: 20px;
  }
  .value {
    margin-left: 0;

    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .Side-Details {
    text-align: center;
    grid-template-columns: repeat(10, 99px);
    font-size: larger;
  }
  .heading {
    font-size: larger;
    color: beige;
  }
  .value {
    font-size: 300px;
  }
}
.City {
  font-size: 35px;
}
.Temp {
  font-size: 40px;
  font-weight: 640;
}
.heading {
  font-size: 14px;
}

.value {
  font-size: 14px;
  color: rgb(155, 247, 155);
}
